<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/static/app.css}" href="../static/app.css"/>
    <title>giflib Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus dolorem fugiat nobis tempora. Ad, animi, cum doloremque excepturi iste iusto libero minus neque odit quam quis tempora ullam, vitae?</p>
<img th:src="@{/static/gifs/proveitorgtfo.gif}" alt="https://media.giphy.com/media/26u4dRHovqjPvRVio/giphy.gif"/>
</body>
</html>