body {
	color-profile: sRGB;
	font-size: 30px;
	font-family: Arial;
}

div {
	border-radius: 50%;
	width: 137px;
	height: 137px; 
	background-color: rgb(12, 235, 222);
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	font-weight: bold;
}

span {
	float: left;
}

div:contains(6) {
	background-color: red;
