body {
  color-profile: sRGB;
}

div {
  width: 380px;
  border: 16px solid rgb(66, 133, 244);
}

p {
  height: 128px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
}

p:first-child {
  background: rgb(230, 118, 118);
}

p:nth-child(2) {
  background: rgb(242, 240, 98);
}

p:nth-child(3) {
  background: rgb(169, 230, 230);
}

p:last-child {
  background: rgb(118, 146, 228);
}