
body {
	padding-left: 20px;
	margin-left: 5px;
	font-family: 'Open Sans', sans-serif;
}

* {
	padding: 0;
}

#container {
	width: 800px;
	height: 1200px;
	background-color: black;
	border: 0;
	margin: 0;
	padding: 30px;
	border: 1px solid greenyellow;
	overflow: hidden;
}

.form {
	background-color: #dcd6cd;

}

.title {
	width: 100%;
	padding: 0;
	margin: 0;

}

.separator p {
	background-color: #938c97;
	padding: 0;
/* 	display: inline-box;
	float: left; */
	width: 40%;
	border: 1px solid black;
}

.left, .right {
	
	height: 400px;
	display: border-box;
	float: left;
	margin: 0;
	padding: 0; 
	background-color: #dcd6cd;
	width: 49%;
	border: 1px solid black;
	
}	

.right {
	
}

.gender, .born {
	display: block;
	width: 48%;
  float: left;
}

.bottom {
	width: 100%;
	display: block;
	background-color: #dcd6cd;
	padding: 0;
	height: 430px;
}

.bottom div {
	width: 100%;
	display: block;
	background-color: #dcd6cd;
	padding: 0;
	margin: 0;

}

textarea {
	width: 80%;
	height: 100px;

}

.button	{
	background-color: #dcd6cd;
	display: inline-block;
	float: left;
	justify-content: center;
}


.checkbox, .brand {
	
	margin-bottom: 12px;

}